<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center hide-on-small-only">Paska - a Forecast App</a>
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li><a href="/forecasts">Welcome {{user.firstName}}</a></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
        <li><a href="/forecasts"><i class="fa fa-book"></i> Public Topics</a></li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="side-nav" id="main-menu">
        {{#if user}} 
        {{else}}
        <li>
          <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
        </li>
        {{/if}}
        <li><a href="/forecasts"><i class="fa fa-book"></i> Active Topics</a></li>
        {{#if user}}
        <li><a href="/dashboard"><i class="fa fa-cog"></i>Dashboard and Scores</a></li>
        <li><a href="/forecasts/add"><i class="fa fa-user"></i> Add New Topic</a></li>
                {{!-- <li><a href="/forecasts/my"><i class="fa fa-user"></i> My Forecasts</a></li> --}}
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>