{{#if success_msg}}
    <div class="card col s6"><div class="card-content green lighten-3"><h5>{{success_msg}}</h5></div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="card col s6"><div class="card-content red white-text lighten-3"><h5>{{error_msg}}</h5>
    </div>
{{/if}}