<div class="jumbotron text-center">


    <h1>Welcome to Paska - a Forecast App</h1>
    {{!-- <a href="/forecasts/add" class= "btn btn-dark btn-lg">Add Forecast</a> --}}
<p>Please <a href="/users/register">register</a> or <a href="/users/login">log in</a></p>

</div>
"The best way to know if an idea is right is to see if it predicts the future" -Steven Pinker
{{!-- {{#each submittedForecasts}}
    <div class='card card-body mb-2'>

{{title}}
{{details}}
{{submittedProbability}}
    </div>
    {{else}} --}}

{{!-- {{/each}} --}}
