

<h1>Welcome {{user.firstName}}</h1>

<img class="logo middle" src="/img/minerva_VM.jpg"><br><br>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}


<p>"The best way to know if an idea is right is to see if it predicts the future" -Steven Pinker</p>