<p>welcome</p>

{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}

<p>"The best way to know if an idea is right is to see if it predicts the future" -Steven Pinker</p>

