
<h1>Add Forecast Topic</h1>
<div class="row">
  <form action="/forecasts" method="post" class="col s12">


    <div class="row">
      <div class="input-field">
        <input type="text" name="title">
        <label for="title">Title</label>
      </div>
    </div>

    {{!-- <div class="row">
      <div class="input-field">
        <select name="status">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Unpublished</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div> --}}

    {{!-- <div class="row">
      <p>
        <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked">
        <label for="filled-in-box">Allow Comments</label>
      </p>
    </div> --}}

    <div class="row">
      <div class="input-field">
        <h5>Details (include at least closing date for guesses):</h5>
        <textarea name="details"></textarea>
      </div>
    </div>


  <form action="/forecasts" method="post" class="col s12">
    <div class="row">
      <div class="input-field">
        <h5>Choose number of answer options:</h5>
    <select name="nOfOptions">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  


      </div>
    </div>


    {{!-- <div class="row">
      <div class="input-field" type="hidden" value="wipunen">
        <h5>Organizations:</h5>
        <textarea name="organizations"></textarea>
      </div>
    </div> --}}

        <h5>Choose Organization Visibility:</h5>
      {{#each organizations}}
    <p>
      <input type="checkbox" name="{{_id}}" class="filled-in"  id="filled-in-box{{name}}" />
      <label for="filled-in-box{{name}}">{{name}}</label>
    </p>
{{/each}}

<br>
    <input type="submit" value="Next" class="btn">
  </form>
</div>